body
{
    background-color: black;
}
#game
{
    position: absolute;
    height: 80%;
    width: 70%;
}

#gameBoard
{
    position: relative;
    background-image: url('../img/fond.jpg');
    background-position: center;
    background-size: cover;
    height: 90%;
    width: 90%;
    border: 1px solid white;
    cursor: url('../img/target.png'), auto;
}

#duck
{
    position: absolute;
    background-size: 100px 100px;
    top: 5%;
    left: 5%;
    height: 100px;
    width: 100px;
    transform: translate(-50%, -50%);
}

#details
{
    position: absolute;
    right: 1px;
    max-width: 20%;
    max-height: 50%;
}

#timer
{
    position: absolute;
    left: 1px;
    max-width: 2%;
}

#ammo
{
    position: absolute;
    left: 1px;
    top:10%;
}

#toTheRight
{
    max-width: 2%;
}

